#container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#drum-machine {
border: 5px solid gray;
padding: 15px;
display: flex;
flex-direction: column;
align-items: center;
}

#display {
padding: 20px;
background: rgba(16, 211, 16, 0.651);
width: 150px;
height: 10px;
margin: auto;
text-align: center;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
text-shadow: 1px 1px white;
}

#pad-container {
display: flex;
flex-wrap: wrap;

padding: 12px;
width: 100%;
margin: auto;
}

button {
width: 100px;
height: 60px;
border: none;
margin: 2px;
background: #6e5b53;
color: rgb(222, 247, 6);
font-size: large;
border-radius: 5px;
}

button:hover {
opacity: 0.8;
cursor: pointer;
}
